body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  white-space: nowrap;
  gap: 30px;
}
.navigation a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #1c1e21;
}
